/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,700&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

body.no-scroll {
  overflow-x: hidden;
}

.list {
  list-style: none;
}

.title {
  margin-bottom: 30px;
  color: #212121;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.page-header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .page-header .container {
    display: flex;
    align-items: center;
  }
}

.nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    align-items: center;
  }
  .nav__list--margin {
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .nav__list--margin {
    margin-left: 94px;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  padding-top: 35px;
  padding-bottom: 35px;
  color: #212121;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--current {
  color: #2196f3;
}

.nav__link--current-border::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__header {
  color: #212121;
}

.menu__btn {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  color: #000;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu__btn {
    display: none;
  }
}

.menu__btn:hover, .menu__btn:focus {
  color: #2196f3;
}

.icon-menu,
.icon-cross {
  fill: currentColor;
}

.icon-cross {
  position: absolute;
}

.menu-wraper {
  margin-bottom: 302px;
}

.menu {
  padding: 40px;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .menu {
    position: fixed;
    z-index: 2;
    display: none;
    top: 0;
    left: 0;
  }
  .menu.is-open {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__link {
  text-decoration: none;
  font-size: 30px;
  line-height: 1.18;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu__link:hover, .menu__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .menu__link {
    font-size: 40px;
  }
}

.menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contacts {
  margin-bottom: 64px;
}

.menu-contacts__link {
  text-decoration: none;
  color: #757575;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.menu-contacts__link:hover, .menu-contacts__link:focus {
  color: #2196f3;
}

.link--current {
  color: #2196f3;
}

.menu-contacts__link--size {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .menu-contacts__link--size {
    font-size: 34px;
    line-height: 1.18;
  }
}

.menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-social__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -20px;
}

.menu-social__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu-social__link:not(:last-child) {
  margin-right: 10px;
}

.menu-social__item {
  margin-top: 20px;
}

.menu-social__item:not(:last-child) {
  margin-right: 10px;
}

.border {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  width: 20px;
  transform: rotate(90deg);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contacts__list {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__list {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  color: #757575;
  font-size: inherit;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  text-align: center;
  max-width: 1600px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-image480.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-image480@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-image768.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-image768@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-image1200.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-image1200@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-image1200.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-image1200@3x.jpg");
  }
}

.hero__title {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  min-width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 480px) {
  .advantages__list {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__list {
    margin-bottom: -30px;
  }
}

.advantages__item {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .advantages__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    width: calc((100% - 4 * 30px) / 4);
    margin-right: 30px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.advantages__icon {
  display: flex;
  margin-bottom: 30px;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantages__title {
  margin-bottom: 10px;
  color: #212121;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .advantages__title {
    text-align: center;
  }
}

.advantages__text {
  line-height: 1.71;
}

.work {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work__item {
  position: relative;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.working-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.working-text__text {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team__item {
  width: 100%;
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc(100% / 4 - 30px);
  }
}

.member {
  padding-top: 30px;
  margin-bottom: 16px;
}

.member__name {
  margin-bottom: 10px;
  text-align: center;
  color: #212121;
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
}

.member__job {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-link-wraper {
  padding-left: 74px;
  padding-right: 74px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .social-link-wraper {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 30px;
  }
}

.social__link--team-link {
  background-color: team-social-link-bg;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--team-link:hover, .social__link--team-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social__icon {
  fill: currentColor;
}

.client__list {
  display: flex;
  margin-top: -30px;
}

@media screen and (max-width: 479px) {
  .client__list {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 480px) {
  .client__list {
    margin-left: -30px;
    flex-wrap: wrap;
  }
}

.client__item {
  margin-top: 30px;
}

@media screen and (min-width: 480px) {
  .client__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .client__item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    width: calc(100% / 6 - 30px);
    margin-bottom: 0;
  }
}

.client__link {
  display: flex;
  width: 210px;
  height: 92px;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms var(--cubic-bezier);
}

.client__link:hover, .client__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}

.client__icon {
  fill: currentColor;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter-list {
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 389px) {
  .filter-list__item:nth-child(-n + 2) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .filter-list__item:nth-child(-n + 3) {
    margin-bottom: 20px;
  }
}

.filter-list__btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier;
}

.filter-list__btn:hover, .filter-list__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.example-cards {
  position: relative;
  overflow: hidden;
}

.example-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-overlay__text {
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

@media screen and (max-width: 320px) {
  .example-overlay__text {
    padding: 13px 24px;
    font-size: 15px;
    line-height: 1.56;
  }
}

@media screen and (min-width: 768px) {
  .example-overlay__text {
    padding: 49px 24px 77px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .example-overlay__text {
    padding: 63px 24px;
  }
}

@media screen and (min-width: 768px) {
  .example__list {
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .example__list {
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 768px) {
  .example__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .example__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .example__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .example__item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.example__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example__link:hover .example-overlay,
.example__link:focus .example-overlay {
  transform: translateY(0);
}

.cards {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.cards__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

.cards__title {
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .page-footer {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .wraper {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .wraper {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__wraper {
    display: flex;
  }
}

.logo__logo--margin {
  display: inline-block;
  margin-bottom: 20px;
}

.logo__footer {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .page-footer__address {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .page-footer__address {
    margin-right: 165px;
  }
}

@media screen and (max-width: 1199px) {
  .page-footer__address {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__address {
    margin-right: 70px;
  }
}

.address__text {
  margin-bottom: 8px;
  color: #ffffff;
  line-height: 1.71;
  font-style: normal;
}

@media screen and (min-width: 1200px) {
  .address__text {
    margin-bottom: 9px;
  }
}

.address__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.address__link:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__link:not(:last-child) {
    margin-bottom: 9px;
  }
}

.social__text {
  margin-bottom: 20px;
  color: #ffffff;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .social__text {
    padding-top: 12px;
  }
}

.social__list {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .social__list {
    justify-content: center;
  }
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--footer:hover, .social__link--footer:focus {
  background-color: #2196f3;
}

.social__icon {
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .subscribe {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
  }
}

.subscribe__text {
  margin-bottom: 20px;
  color: #ffffff;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .subscribe__text {
    padding-top: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-wraper {
    display: flex;
    align-items: center;
  }
}

.subscribe-form__input {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .subscribe-form__input {
    width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe-form__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
    margin-right: 12px;
  }
}

.subscribe__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .subscribe__btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.subscribe__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-backdrop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal-backdrop {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-backdrop {
    max-width: 528px;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  color: #000;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover, .close-btn:focus {
  color: #2196f3;
}

.close-btn__icon {
  fill: currentColor;
}

.modal-form {
  padding: 40px 40px;
}

.modal-form__title {
  margin-bottom: 12px;
  text-align: center;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.64;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  color: #000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label:focus-within {
  color: #2196f3;
}

.label__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: currentColor;
}

.label__name {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.label__input {
  padding-left: 42px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label:focus-within > .label__input {
  outline: none;
  border: 1px solid #2196f3;
}

.textarea__input {
  height: 120px;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.textarea__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.textarea__input {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus-within .textarea__input {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__btn:hover, .modal-form__btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  color: checkbox-text-color;
}

.checkbox__text {
  font-size: 12px;
  line-height: 1;
}

@media screen and (min-width: 1200px) {
  .checkbox__text {
    font-size: inherit;
    line-height: 1.71;
  }
}

.checkbox__input {
  margin-right: 8px;
}

.checkbox__box {
  display: flex;
  width: 16px;
  height: 15px;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked ~ .checkbox__box {
  border-color: #2196f3;
  background-color: #2196f3;
}

.checkbox__input:focus + .checkbox__box {
  border-color: #2196f3;
}

.checkbox__link {
  color: #2196f3;
}
/*# sourceMappingURL=main.css.map */