.advantages__list {
  @include tablet {
    display: flex;
    margin-right: -30px;
    margin-top: -30px;
  }

  @include mobile {
    flex-wrap: wrap;
  }
}

.advantages__item {
  width: 100%;

  @include mobile {
    width: 450px;
  }

  @include tablet {
    margin-right: 30px;
    margin-top: 30px;
    width: calc((100% - 2 * 30px) / 2);
  }

  @include desktop {
    width: calc((100% - 4 * 30px) / 4);
    margin-right: 30px;
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.advantages__icon {
  display: flex;
  margin-bottom: 30px;

  height: 120px;
  align-items: center;
  justify-content: center;

  background-color: $advantages-grup;
  border-radius: 4px;
}

.advantages__title {
  margin-bottom: 10px;

  color: $main-second-color;
  @include font(inherit, 1.14, null, null);
  text-transform: uppercase;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.advantages__text {
  @include font(null, 1.71, null, null);
}
