.client__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (max-width: 1199px) {
    margin-right: -30px;
    margin-bottom: -30px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: -30px;
  }
}

.client__item {
  margin-right: 30px;
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    width: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 3 * 30px) / 3);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 6 * 30px) / 6);
    margin-bottom: 0;
  }
}

.client__link {
  display: inline-flex;
  width: 210px;
  height: 92px;
  align-items: center;
  justify-content: center;

  color: $client-icon-color;

  border-radius: 4px;
  border: 1px solid #afb1b8;

  transition: border-color 250ms $cubic-bezier, color 250ms var(--cubic-bezier);

  &:hover,
  &:focus {
    border-color: $client-accent-color;
    color: $client-accent-color;
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.client__icon {
  fill: currentColor;
}
