.contacts {
  display: flex;
  margin-left: auto;

  &__link:hover,
  &__link:focus {
    color: $header-icon-hover;
  }
}

@media screen and (max-width: 767px) {
  .contacts__list {
    display: none;
  }
}

.contacts__list {
  @include desktop {
    display: flex;
    align-items: center;
  }
}

@include desktop {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  color: $header-icon-color;
  @include font(inherit, 1.14, 500, 0.02em);
  text-decoration: none;

  transition: color 250ms $cubic-bezier;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
