.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $footer-bg-color;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.wraper {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  @include tablet {
    display: flex;
    justify-content: center;
  }
}

.page-footer__wraper {
  @include desktop {
    display: flex;
  }
}
