.subscribe {
  margin-left: auto;
}

.subscribe__text {
  margin-bottom: 20px;
  padding-top: 12px;

  color: $social-text;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.subscribe-wraper {
  display: flex;
  align-items: center;
}

.subscribe-form__input {
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;

  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $foter-subcribe-btn-text-color;
  background-color: $foter-subcribe-btn-color;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.subscribe__icon {
  margin-left: 10px;
}
