.menu__btn {
  @include tablet {
    display: none;
  }

  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;

  margin: 0;
  padding: 0;
  margin-left: auto;

  color: #000;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.icon-menu,
.icon-cross {
  fill: currentColor;
}

.icon-cross {
  position: absolute;
}
.menu-wraper {
  margin-bottom: 302px;
}

.menu {
  padding: 40px;
  width: 100vw;
  height: 100vh;
  background-color: $header-bg-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  @media screen and (max-width: 767px) {
    position: fixed;
    z-index: 2;
    display: none;
    top: 0;
    left: 0;

    &.is-open {
      display: flex;
      flex-direction: column;
    }
  }

  @include tablet {
    display: none;
  }
}

.menu__link {
  text-decoration: none;
  @include font(30px, 1.18, 500, 0.02em);
  color: $main-second-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @include mobile {
    font-size: 40px;
  }
}

.menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contacts {
  margin-bottom: 64px;
}
.menu-contacts__link {
  text-decoration: none;
  color: $main-text-color;
  @include font(24px, 1.17, 500, 0.02em);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.link--current {
  color: $accent-color;
}

.menu-contacts__link--size {
  @include font(24px, 1.17, null, 0.02em);

  color: $accent-color;

  @include mobile {
    font-size: 34px;
    line-height: 1.18;
  }
}

.menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-social__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -20px;
}

.menu-social__link {
  text-decoration: none;
  @include font(18px, 1.22, 500, 0.02em);

  color: $accent-color;
}
.menu-social__link:not(:last-child) {
  margin-right: 10px;
}

.menu-social__item {
  margin-top: 20px;
}

.menu-social__item:not(:last-child) {
  margin-right: 10px;
}

.border {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  width: 20px;
  transform: rotate(90deg);
}
