.hero {
  padding-top: 118px;
  padding-bottom: 118px;

  margin: 0 auto;
  height: 400px;
  text-align: center;

  background-color: $hero-bg-color;
  background-image: $hero-bg-gradient, url("../images/hero-bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__button:hover,
  &__button:focus {
    background-color: $hero-btn-hover;
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: $hero-bg-gradient, url("../images/hero-bg-image@2x.jpg");
  }
}
