.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  margin: 0 auto;
  height: 400px;
  text-align: center;

  background-color: $hero-bg-color;
  background-image: $hero-bg-gradient, url("../images/hero-bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__button:hover,
  &__button:focus {
    background-color: $hero-btn-hover;
  }
}
