.hero__title {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: $hero-title-color;
  @include font(26px, 1.62, 900, 0.06em);

  text-transform: uppercase;

  @include mobile {
    width: 360px;
  }
  @include desktop {
    width: 696px;
    @include font(44px, 1.36, null, null);
  }
}
