.logo {
  color: $accent-color;
  font-family: "Raleway", sans-serif;
  @include font(24px, 1.17, 700, null);

  text-decoration: none;

  @include desktop {
    @include font(26px, 1.19, null, null);
  }
}
