.nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

@include tablet {
  .nav__list {
    display: flex;
    align-items: center;

    &--margin {
      margin-left: 88px;
    }
  }
}

@include desktop {
  .nav__list--margin {
    margin-left: 94px;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;

  padding-top: 35px;
  padding-bottom: 35px;

  color: $main-second-color;
  @include font(null, 1.14, 500, 0.02em);
  text-decoration: none;

  transition: color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.nav__link--current {
  color: $accent-color;
}

.nav__link--current-border::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;

  background-color: $accent-color;
  border-radius: 2px;
}
