.page-header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: $header-bg-color;
  border-bottom: 1px solid $border-bottom-color;

  @include tablet {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @include desktop {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  @include tablet {
    .container {
      display: flex;
      align-items: center;
    }
  }
}
