.team {
  background-color: $team-bg-color;
}

.team__list {
  margin-bottom: -30px;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team__item {
  width: 100%;
  margin-bottom: 30px;

  background-color: $team-item-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
  }

  @include tablet {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }

  @include desktop {
    width: calc(100% / 4 - 30px);
  }
}

.member {
  padding-top: 30px;
  margin-bottom: 16px;
}

.member__name {
  margin-bottom: 10px;

  text-align: center;

  color: $main-second-color;
  @include font(16px, 1.19, 500, null);
}

.member__job {
  @include font(16px, 1.19, null, null);
  text-align: center;
}

.social-link-wraper {
  padding-left: 74px;
  padding-right: 74px;
  padding-bottom: 24px;

  @include desktop {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 30px;
  }
}
