.work {
  padding-top: 0;
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work__item {
  position: relative;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.working-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  bottom: 0;
  left: 0;

  background-color: rgba(47, 48, 58, 0.8);
}

.working-text__text {
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;

  color: $working-text-color;
}
